/* css file - space and position containers */
#container1 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    display: inline-block;
}


#container2 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;

}


#container3 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
}



/* centers texts */
#caption {
    text-align: center;
}

#xaxis {
    text-align: center;
}

.a {
    align: center
}


